.header {
  position: fixed;
  top: 20px;
  left: 10%;
  width: 80%;
  height: 80px;
  background-color: #11284b;
  border-radius: 20px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.inner {
  width: 100%;
  max-width: 1200px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  cursor: pointer;
}

.desktopNav {
  display: flex;
}

.burger {
  display: none;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: white;
  font-size: var(--mantine-font-size-lg);
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #ff8000;
  transition: width 0.3s ease-in-out;
}

.link:hover {
  color: #ff8000;
}

.link:hover::after {
  width: 100%;
}

.mobileMenu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 250px;
  height: 100vh;
  background-color: #11284b;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
  transition: left 0.3s ease-in-out;
  z-index: 999;
}

.showMenu {
  left: 0;
}

.menuContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menuLink {
  font-size: 24px;
  color: white;
  text-decoration: none;
  padding: 10px 0;
  transition: color 0.3s ease;
}

.menuLink:hover {
  color: #ff8000;
}

@media (max-width: 768px) {
  .header {
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    padding: 0 32px;
    
    .desktopNav {
      display: none;
    }
  }


  .burger {
    display: block;
    cursor: pointer;
  }
}
